# Tell

# Show

In [1]:
import numpy
import pandas
import pulp

In [13]:
items = pandas.DataFrame.from_dict(
    dict(
        item_name = ("pencils", "notebook", "extra paper", "pens", "water bottle", "chewing gum", "spare shoes", "lunch", "granola bar"),
        size = (1, 5, 3, 2, 8, 1, 10, 6, 4),
        reward = (2, 2, 1, 1, 3, 1, 2, 2, 1),
    )
).set_index('item_name')

In [14]:
items

              size  reward
item_name
pencils          1       2
notebook         5       2
extra paper      3       1
pens             2       1
water bottle     8       3
chewing gum      1       1
spare shoes     10       2
lunch            6       2
granola bar      4       1

In [15]:
knapsack = pulp.LpProblem("knapsack", pulp.LpMaximize)

In [16]:
take_item_to_school = pulp.LpVariable.dicts("x", items.index, lowBound=0, upBound=1, cat=pulp.LpInteger)

In [17]:
benefit = sum(
    items.loc[item_name, 'reward'] * take_item_to_school[item_name] 
    for item_name in items.index
)

In [18]:
benefit

1*x_chewing_gum + 1*x_extra_paper + 1*x_granola_bar + 2*x_lunch + 2*x_notebook + 2*x_pencils + 1*x_pens + 2*x_spare_shoes + 3*x_water_bottle + 0

In [19]:
knapsack += benefit

In [20]:
capacity = sum(
    items.loc[item_name, 'size'] * take_item_to_school[item_name] 
    for item_name in items.index
)

In [21]:
capacity

1*x_chewing_gum + 3*x_extra_paper + 4*x_granola_bar + 6*x_lunch + 5*x_notebook + 1*x_pencils + 2*x_pens + 10*x_spare_shoes + 8*x_water_bottle + 0

In [22]:
knapsack += capacity <= 25

In [23]:
knapsack.solve()

Welcome to the CBC MILP Solver
Version: 2.10.10
Build Date: Apr 19 2023

command line - cbc /var/folders/g3/kfqgyscs7k59d1l6867ztwmh0000gn/T/e9a85b7ea6c94c5c81458e1c42676cc4-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/g3/kfqgyscs7k59d1l6867ztwmh0000gn/T/e9a85b7ea6c94c5c81458e1c42676cc4-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 6 COLUMNS
At line 43 RHS
At line 45 BOUNDS
At line 55 ENDATA
Problem MODEL has 1 rows, 9 columns and 9 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 11.6667 - 0.00 seconds
Cgl0004I processed model has 1 rows, 9 columns (9 integer (9 of which binary)) and 9 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 1 integers unsatisfied sum - 0.333333
Cbc0038I Pass   1: suminf.    0.12500 (1) obj. 11.625 iterations 1
Cbc0038I Solution found of 9
Cbc0038I Rounding solution of 10 is better than previous of 9

Cbc0038I Before mini branch and bound, 7 integers at bound fixed and 0 continuous
Cbc0038I Full problem 1 rows 9 columns, reduced to 1 rows 2 columns
Cbc0038I Mini branch and bound improved solution from 10 to 11 (0.00 seconds)
Cbc0038I After 0.00 seconds - Feasibility pump exiting with objective of 11 - took 0.01 seconds
Cbc0012I Integer solution of 11 found by feasibility pump after 0 iterations and 0 nodes (0.00 seconds)
Cbc0001I Search completed - best objective 11, took 0 iterations and 0 nodes (0.00 seconds)
Cbc0035I Maximum depth 0, 7 variables fixed on reduced cost
Cuts at root node changed objective from 11.6667 to 11.6667
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                11.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.01
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.02   (Wallclock seconds):       0.01

1

In [44]:
items.assign(was_taken = [take_item_to_school[item_name].varValue for item_name in items.index])

              size  reward  was_taken
item_name
pencils          1       2        1.0
notebook         5       2        1.0
extra paper      3       1        0.0
pens             2       1        1.0
water bottle     8       3        1.0
chewing gum      1       1        1.0
spare shoes     10       2        0.0
lunch            6       2        1.0
granola bar      4       1        0.0

## If I catch you without your gym shoes one more time...!

In [47]:
track_day = items.copy()
track_day.loc['spare shoes', 'reward'] = 10

## The grand gum ban

In [ ]:
gum_ban = items.copy()
gum_ban.loc['spare shoes', 'reward'] = 10

## An Important Math Test

In [53]:
test_items = pandas.DataFrame.from_dict(
    dict(
        item_name = ("protractor", "calculator", "pair of compasses", "garry gum"),
        size = (1, 4, 2, 1),
        reward = (2, 4, 2, 2)
        
    )
).set_index("item_name")

math_test = pandas.concat((items, test_items))
math_test

              size  reward
item_name
pencils          1       2
notebook         5       2
extra paper      3       1
pens             2       1
water bottle     8       3
chewing gum      1       1
spare shoes     10      10
lunch            6       2
granola bar      4       1
protractor       1       2
calculator       4       4
compass          2       2
garry gum        1       2

In [ ]:
https://vimeo.com/77451201

# Review